<header class="p-4 dark:bg-gray-100 dark:text-gray-800">
	<div class="container flex justify-between mx-auto">
		<div class="flex justify-center text-5xl text-slate-800">
            Rentify
		</div>
		<div class="items-center flex-shrink-0 hidden lg:flex">
      <button (click)="addProperty()" class="px-4 mr-10 py-3 font-semibold rounded dark:bg-violet-600 dark:text-gray-50">Add Propery</button>
			<button (click)="logout()" class="px-8 py-3 font-semibold rounded dark:bg-violet-600 dark:text-gray-50">Log out</button>
		</div>
		<button class="p-4 lg:hidden">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 dark:text-gray-800">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
			</svg>
		</button>
	</div>
</header>
<div class="flex min-h-screen bg-gray-100">
    <!-- Main Content Area for Property Cards -->
    <div class="flex-1 p-6">
      <h2 class="text-2xl font-bold mb-4">Rental Properties</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Property Card -->
        <div class="bg-white p-4 rounded-lg shadow-md" *ngFor="let property of properties">
          <img crossorigin="anonymous" [src]="property.photo" alt="Property Image" class="w-full h-48 object-cover rounded-t-lg">
          <div class="p-4">
            <h3 class="text-xl font-bold">{{property.address+','+property.city}}</h3>
            <p class="text-gray-600">{{property.numberOfBedRooms}} beds, {{property.numberOfBathrooms}} baths</p>
            <p class="text-gray-800 font-semibold">{{property.price | currency:"INR"}}</p>
            <div class="mt-4 flex justify-between items-center">
              <button class="px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" (click)="editProperty(property)">Edit</button>
              <button class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" (click)="deleteProperty(property)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>